name: Build

on:
  push:
    branches: [ "main" ]
    paths-ignore: [ ".gitignore", "CODEOWNERS", "LICENSE", "*.md", "*.adoc", "*.txt", ".all-contributorsrc", ".github/project.yml" ]
  pull_request:
    paths-ignore: [ ".gitignore", "CODEOWNERS", "LICENSE", "*.md", "*.adoc", "*.txt", ".all-contributorsrc" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build & test (${{ matrix.os }} / JDK ${{ matrix.java-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        java-version: [ 17, 21, 25 ]

    steps:
      - name: Prepare git (CRLF)
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf false

      - uses: actions/checkout@v6

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: maven

      - name: Build with Maven (Linux, full tests)
        if: matrix.os == 'ubuntu-latest'
        run: mvn -B clean install -Dno-format -DskipITs=true

      - name: Build with Maven (Windows, skip ITs)
        if: matrix.os == 'windows-latest'
        run: mvn -B clean install -Dno-format -DskipITs=true -Dquarkus.langchain4j.ollama.devservices.enabled=false
