name: Build with Integration Tests

on:
  push:
    branches: [ "main" ]
    paths-ignore: [ ".gitignore", "CODEOWNERS", "LICENSE", "*.md", "*.adoc", "*.txt", ".all-contributorsrc", ".github/project.yml" ]
  pull_request:
    paths-ignore: [ ".gitignore", "CODEOWNERS", "LICENSE", "*.md", "*.adoc", "*.txt", ".all-contributorsrc" ]

env:
  QUARKUS_LANGCHAIN4J_OLLAMA_CHAT_MODEL_MODEL_ID: qwen2.5:3b-instruct-q4_K_M

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build & test (${{ matrix.os }} / JDK ${{ matrix.java-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-version: [ 25 ]

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: maven

      - name: Setup Ollama
        uses: ai-action/setup-ollama@v2

      - uses: actions/cache@v5
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama

      - name: Run ${{ env.QUARKUS_LANGCHAIN4J_OLLAMA_CHAT_MODEL_MODEL_ID }} model
        run: ollama run ${{ env.QUARKUS_LANGCHAIN4J_OLLAMA_CHAT_MODEL_MODEL_ID }}

      - name: Build with Maven (Linux, full tests)
        run: mvn clean install -DskipITs=false -Dquarkus.langchain4j.ollama.chat-model.model-id=${{ env.QUARKUS_LANGCHAIN4J_OLLAMA_CHAT_MODEL_MODEL_ID }} -Dquarkus.langchain4j.timeout=60000
